<%= form_for @path do |f| %>
  <div class="form-group">
    <%= f.label :Title %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :Description %><br>
    <%= f.text_area :description, rows: 3, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
