<div class="jumbotron jumbotron_path">
  <h1 class="display-3">Paths</h1>
  <p class="lead">Welcome join the Taroko school.</p>
  <hr class="m-y-2">
  <p class="lead">
    <%= link_to 'Add Path', new_path_path, class: 'btn btn-primary btn-lg' %>
  </p>
</div>

<div class="card-deck-wrapper card_path_group">
  <% @paths.each_slice(2) do |paths| %>
    <div class="card-deck">
      <% paths.each do |path| %>
        <div class="card text-xs-center card_path">
          <div class="card-header">
            <ul class="nav nav-pills card-header-pills pull-xs-left">
              <li class="nav-item">
                <%= link_to 'Modify', edit_path_path(path), class: 'nav-link', style: 'color: white' %>
              </li>
              <li class="nav-item">
                <%= link_to 'Delete', path_path(path), method: :delete, data: { confirm: 'Are you sure?' }, class: 'nav-link', style: 'color: white' %>
              </li>
            </ul>
          </div>

          <div class="card-block">
            <h4 class="card-title"><%= link_to path.title, path_path(path) %></h4>
            <p class="card-text"><%= path.description %></p>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
