<div class="jumbotron jumbotron_path">
  <h1 class="display-3"><%= @path.title %></h1>
  <p class="lead"><strong><%= @path.description %></strong></p>
  <hr class="m-y-2">
  <p class="lead">
    <%= link_to 'Add Course', new_path_course_path(@path), class: 'btn btn-primary' %>
  </p>
</div>

<% @courses.each do |course| %>
  <div class="card card-block card_course">
    <h3 class="card-title">
      <%= link_to course.title, path_course_path(@path, course) %>
    </h3>
    <p class="card-text"><%= course.description %></p>
    <%= link_to 'Modify', edit_path_course_path(@path, course), class: 'btn btn-primary' %>
    <%= link_to 'Delete', path_course_path(@path, course), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
  </div>
<% end %>

<br/>
<%= link_to 'Back', paths_path, class: 'btn btn-info btn-lg' %>
