<% breadcrumb :mission , @path, @course, @mission %>
<div class="list-group">
  <p class="list-group-item active">
    <strong><%= @mission.title %></strong>
  </p>
  <p class="list-group-item list-group-item-action">
    <%= @mission.description %>
  </p>
  <%= link_to @mission.url, url_with_protocol(@mission.url), target: '_blank', class: 'list-group-item list-group-item-action' %>
  <p class="list-group-item list-group-item-action">
    <%= @mission.finish? %>
  </p>
  <p class="list-group-item list-group-item-action">
    <%= link_to 'Back', path_course_path(@path, @course), class: 'btn btn-info btn-lg' %>
  </p>
</div>
